body {
    margin: 0px; /* Margem Externa */
    padding: 0px; /* Margem Interna */
}

/* Menu de Navegação */

#principal {
    background-color: #303030;
    border: 1px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

    #menu {
    display: flex;
    margin-left: 5%;
    width: 45%;
    justify-content: space-around;
    align-items: center;
} 

    #principal div a {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

    #principal div a:hover {
    color:#CCCCCC;
}

    #principal button {
    margin-right: 5%;
    background-color: #0C70F2;
    color: #FFFFFF;
    border: 0px;
    height: 40px;
    width: 80px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}