:root {
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --fonte-padrao: 'Inter';
}


    body {
    margin: 0px; /* Margem Externa */
    padding: 0px; /* Margem Interna */
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

/* Menu de Navegação */

    #principal {
    background-color: var(--preto-dnc);
    border: 1px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

        #menu {
    display: flex;
    margin-left: 5%;
    width: 45%;
    justify-content: space-around;
    align-items: center;
} 

        #principal div a {
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

        #principal div a:hover {
    color:var(--cinza-hover);
}

        #principal button {
    margin-right: 5%;
    background-color: var(--azul-dnc);
    color: #FFFFFF;
    border: 0px;
    height: 40px;
    width: 80px;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

/* Seção Principal */

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;

    }

        header {
            color: #FFFFFF;
            font-family: var(--fonte-padrao);
        }

        header h1 {
            font-size: 80px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 25px;
            text-align: center;
        }

        header h2 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 100px;
        }

        header .invert {
            background-color: #000000;
            font-weight: bold;
            padding: 3px;
        }

/* Formulário */

    form {
        color:#FFFFFF;
        font-family: var(--fonte-padrao);
        font-size: 30px;
        font-weight: 600;
        width: 600px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form input {
        border-radius: 10px;
        height: 25px;
        border: 0px;
        font-size: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    form label {
        margin: 10px 0px 10px 0px;
    }

    form input::placeholder {
        color: rgba(57, 57, 57, 0.5);
    }

    .checkbox-itens label {
        font-size: 20px;
    }

    .checkbox-itens {
        display: flex;
        justify-content: space-around;
    }
    
    input[type="checkbox"] {
        transform: scale(1.7);
    }

    input[type="submit"] {
        background: rgba(12, 112, 242, 0.9);
        width: 100%;
        color: #FFFFFF;
        height: 56px;
        font-family: var(--fonte-padrao);
        font-size: 25px;
        margin-top: 50px;
        box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
        cursor: pointer;
    }

/* Footer */

footer {
    width: 100%;
    background-color: var(--azul-dnc);
}

footer .line1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}

footer h5 {
    text-align: center;
    color:#FFFFFF;
    font-weight: 800;
    font-size: 20px;
    font-family: var(--fonte-padrao);
    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
}

footer ul li {
    text-align: center;
    color:#FFFFFF;
    font-weight: 600;
    font-size: 20px;
    font-family: var(--fonte-padrao);
    margin: 20px 0px 20px 0px;
}

footer ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

footer ul li a:hover {
    color:var(--cinza-hover)
}

footer .adress {
    color:#FFFFFF;
    font-weight: 600;
    font-size: 18px;
    font-family: var(--fonte-padrao);
    text-align: center;
    width: 25%;
}

footer .line2 {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    height: 25px;
}

footer .line2 a {
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

footer .line2 a:hover {
    color: var(--cinza-hover);
}

footer .line2 a:first-child {
    border-right: 2.5px solid #FFFFFF;
}

/* Menu de Navegação MOBILE */

@media only screen and (max-width: 600px) {
    #principal {
        flex-direction: column;
        height: auto;
    }

    #menu {
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #menu a {
        display: flex;
        height: 50px;
        align-items: center;
    }

    #principal button {
        width: 100%;
        margin: 0px;
    }
}

/* Seção Principal MOBILE*/

    section h1 {
        font-size: 38px;
    }

    section h2 {
        font-size: 28px;
        padding: 0px 15px 0px 15px;
    }

/* Formulário MOBILE */

    form {
        width: 95%;
        font-size: 18px;
    }

    .checkbox-itens label {
        font-size: 15px;
    }

/* Footer MOBILE */

    footer {
        
    }